.outline_Profile {
    width: 500px;
    border: 3px solid black;
    border-radius: 8px;
}

.listProfile {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.imgProfile {
    border-radius: 50%;
    width: 48px;
    background-color: black;
    margin-top: 7px;
}

.statsList {
    display: flex;
    margin: 0;
    padding: 0;
}

.flexItem {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    padding: 15px;
}

.boxStatsList {
    background-color: rgb(195, 195, 195);
    display: flex;
    justify-content: center;
}

.name {
    margin-top: 5px;
    font-weight: 900;
    margin-bottom: 0;
}

.tag {
    color: rgb(195, 195, 195);
    margin-top: 5px;
    margin-bottom: 0;
}

.location {
    margin-top: 5px;
    margin-bottom: 10px;
    color: rgb(195, 195, 195);
}

.stats {
    font-weight: 900;
    color: black;
}